<% unless comment.archived? %>

  <h3>This article is: <%= @article.status %></h3>

  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

